@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* for background  */
    --foreground: 20 14.3% 4.1%; /* for Text Colors  */
    --card: 0 0% 98%;
    --primary: 24.6 95% 53.1%;
    --secondary: 40, 10%, 90%;
    --border: 20, 8%, 72%;
  }

  .dark {
    --background: 240, 10%, 4%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --primary: 20.5 90.2% 48.2%;
    --secondary: 12 6.5% 15.1%;
    --border: 12 6.5% 15.1%;
  }
}
/* Smooth transitions for sidebar */
.transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Ensure proper z-indexing */
.fixed {
  z-index: 40;
}

/* Mobile menu button styling */
.md-hide {
  display: block;
}

@media (min-width: 768px) {
  .md-hide {
    display: none;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-size-box {
  @apply cursor-pointer border-2  bg-transparent hover:bg-default-50
        flex items-center justify-center rounded-lg 
        shadow-sm min-w-[36px] w-9 h-9 text-sm;
}
